body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("./assets/images/bballcourt.jpg") no-repeat center center/cover;
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 400px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

button {
  margin-top: 20px;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #1d4ed8;
   transform: scale(1.05);
}

h1 {
  line-height: 1.2;
  margin-bottom: 15px;
}

h2 {
  margin: 10px 0;
}

p {
  margin: 6px 0;
}

.player-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: top;
  border-radius: 12px;
  display: block;
  margin: 0 auto 16px;
}